This dataset estimates what kind of people would survive the accident and which passengers actually survived the wreck

**Import the Libraries**

In [ ]:
# import the libraries
import pandas as pd
import numpy as np

In [ ]:
# import the visualizations libraries
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

**Loading the dataset**

In [ ]:
df = sns.load_dataset("titanic")

In [ ]:
df.head()

Let's recognize the variables:
1. Survive tells us whether one survived or not. 1 = survived, 2 = died
2. pclass tells us the ticket class a passenger held. 1 = first class, 2 = second class and 3 = 3rd class
3. sex tells us the passenger's gender
4. age shows us the age of the passenger
5. sibsp shows us the number of siblings or spouses aboard
6. parch shows the number of parent or child aboard
7. fare shows the ticket cost/price
8. embarked is the port in which the passenger boarded. C - Cherbourg, S - Southampton, Q - Queenstown
9. class is the categorical variable of the pclass variable
10. who indicates whether the passenger is male, female or child
11. adult_male shows whether the passenger is an adult male or not
12. deck shows the deck the passenger is on the ship. Ranges A - G
13. embark_town is the port city where the passengers boarded the ship
14. alive is the categorical version of the survived variable. no means deceased and yes means survived
15. alone tells us whether the passenger was alone on the ship. It's a mixture of sibsp and parch. alone = true iff sibsp and parch are both 0

In [ ]:
df.info()

Note how the deck variable has so many NaNs. We'll probably get rid of this variable

In [ ]:
#Remove columns that are similar
columns_to_drop = ["alive", "class", "embarked"]
df.drop(columns_to_drop, axis = 1, inplace = True)

In [ ]:
df.head()

**Exploratory Data Analysis**

*Analyze missing values*

In [ ]:
null_num = []
for i in df.columns:
    x = df[i].isnull().sum()
    null_num.append(x)

In [ ]:
null_num

In [ ]:
pd.DataFrame(null_num, index = df.columns, columns = ["Total missing values"])

only 3 variables have missing values: age, deck and embark_town
let's start with the most missing values: the deck variable

In [ ]:
#There's just too many missing values in the deck variable
#but before we remove it:
sns.set_style("darkgrid")
sns.countplot(x = "deck", data = df, palette = "viridis")

We can see that the deck with the most passengers was deck C

In [ ]:
#Let's determine who's going to survive according to this variable

In [ ]:
sns.set_style("darkgrid")
sns.countplot(x = "deck", data = df,hue = "survived", palette = "viridis")

we see that the passengers on deck B and C have more survivors
the least safe decks are A and G

In [ ]:
columns_to_drop = ["deck"]
df.drop(columns_to_drop, axis = 1, inplace = True)

In [ ]:
df.head()

Let's now focus on the age variable with 177 missing values
We don't want to drop the age variable as it may be of importance
Let's try filling in the NaNs with appropriate values

*Analyzing the age variable according to the pclass variable*

We'll take the average of the age variable according to the pclass and place that value in the NaNs of the age variable

In [ ]:
plt.figure(figsize = (10,6))
sns.boxplot(x = "pclass", y = "age", data = df)

The quality of the ticket class increases as the age increases
Q2 for pclass = 1 is 38
Q2 for pclass = 2 is 29
Q2 for pclass = 3 is 24

In [ ]:
# function that fills the missing values in age column with the Q2s according to pclass
def fillna_age(columns):
    age = columns[0]
    pclass = columns[1]
# The function expects columns to be a list containing two elements: age and pclass.
# It assigns the first element to age and the second to pclass.
    
    if pd.isnull(age):
        if pclass == 1:
            return 38
        elif pclass == 2:
            return 29
        else:
            return 24
    else:
        return age

In [ ]:
# apply the function to the age variable
df.age = df[["age", "pclass"]].apply(fillna_age, axis = 1)

In [ ]:
# look for any missing values
null_num = []
for i in df.columns:
    x = df[i].isnull().sum()
    null_num.append(x)
pd.DataFrame(null_num, index = df.columns, columns = ["Total missing values"])

We now only have 2 missing values in the embark_town variable
We could just drop them

In [ ]:
# drop the 2 NaNs 
df.dropna(inplace = True)

In [ ]:
# look for any missing values
null_num = []
for i in df.columns:
    x = df[i].isnull().sum()
    null_num.append(x)
pd.DataFrame(null_num, index = df.columns, columns = ["Total missing values"])

**Binary Analysis**

*Analyze the target variable "Survived"*

In [ ]:
sns.set_style("darkgrid")
sns.countplot(x = "survived", data = df, palette = "viridis")

We can clearly see that most of the passengers onboard died

In [ ]:
df.survived.value_counts() # or df["survived"].value_counts()

Are there any factors that affect the survival of the passengers? or is it just luck ðŸ˜€
For this we would have to do a binary analysis using the target variable

What's the effect on survival if one is alone on the ship?
Use the alone variable which is actualy a combination of the sibsp and parch variables

In [ ]:
sns.set_style("dark")
sns.countplot(x = "survived", hue = "alone", data = df, palette = "viridis")

We see that most of those who lost their lives on the ship were alone
Most of the survivors were not alone

*What's the effect of being an adult male on board?*

In [ ]:
sns.set_style("ticks")
sns.countplot(x = "survived", hue = "adult_male", data = df, palette = "rainbow")

We see that the vast majority of the adult_males died
Remember the "Women and children first. Captain goes down with the ship..."? Explains why we have more non adult_male survivors
Kids were given more priority. Can we say the same about women?

In [ ]:
# Investigating the effect of gender on survival
sns.set_style("darkgrid")
sns.countplot(x = "survived", hue = "sex", data = df, palette = "viridis")

Majority of those who lost their lives were men
There were more female survivors
We can conclude that indeed women and kids were given priority

*Do the port cities, where the passengers embarked, impact survival?*

In [ ]:
sns.set_style("darkgrid")
sns.countplot(x = "survived", hue = "embark_town", data = df, palette = "rainbow")

Most of the deceased boarded the ship at Southampton
We can see that most passengers boarded at Southampton

In [ ]:
df.embark_town.value_counts()

*What are the chances of survival if one had either a sibling or spouse?*

In [ ]:
sns.set_style("darkgrid")
sns.countplot(x = "survived", hue = "sibsp", data = df, palette = "rainbow")